/* styles.css */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #333;
}

table {
    background-color: rgb(138, 208, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #74abff;
    color: white;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #6de7ff;
}

.btn-primary, .btn-warning {
    border-radius: 20px;
    padding: 5px 15px;
}

.modal-content {
    border-radius: 15px;
}

.modal-header {
    background-color: #0d6efd;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
